<ion-header class="header">
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" slot="start" color="light" (click)="goBack()" style="padding-left: 5px;zoom:2">
    </ion-icon>
    <ion-title style="margin-right: 40px;text-align: center;">
      {{auditTypeId == appConstant.DMLC_TYPE_ID ? 'Review Note Details' : 'Finding Details'}}</ion-title>
    <ion-icon name="save" slot="end" class="filterIcon" style="padding-right: 8px;" (click)="save()">
    </ion-icon>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-row *ngIf="findingInfo.statusDesc=='NotYetCreated'" class="ion-align-items-center">
    <ion-col size="6"></ion-col>
    <ion-col size="6">
      <ion-chip color="secondary">
        <ion-icon name="alert-circle-outline"></ion-icon>
        <ion-label>NOT YET SAVED</ion-label>
      </ion-chip>
    </ion-col>
  </ion-row>

  <ion-card style="background-color: #5f9ea0;padding-top: 8px;padding-bottom: 8px;" mode="ios">
    <ion-row style="color: white;">
      <ion-col offset="1" size="5">CATEGORY</ion-col>
      <ion-col size="1">:</ion-col>
      <ion-col size="5">{{categoryDesc}}</ion-col>
    </ion-row>
    <ion-row style="color: white;">
      <ion-col offset="1" size="5">SERIAL NUMBER </ion-col>
      <ion-col size="1">:</ion-col>
      <ion-col size="5">{{findingInfo.serialNo}}</ion-col>
    </ion-row>
    <ion-row style="color: white;">
      <ion-col offset="1" size="5">{{auditTypeDesc}} CODE </ion-col>
      <ion-col size="1">:</ion-col>
      <ion-col size="5">{{findingInfo.auditCode}}</ion-col>
    </ion-row>
  </ion-card>

  <!-- Opened status block -->
  <ion-card *ngIf="isStatusOpened" style="border-radius: 1px;background: white;" mode="ios">
    <ion-card-header>
      <ion-grid class="ion-no-margin-top">
        <ion-item lines="none" color="light">
          <ion-card-subtitle class="title">Status : {{openStatusBlock.statusDesc}}</ion-card-subtitle>
        </ion-item>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Status Date
            </ion-label>
            <mat-form-field class="dateinput" (click)="openStatusBlockStatusDate.open()">
              <ion-input>
                <input type="text" matInput readonly [min]='minStatusDate' [max]='maxStatusDate'
                  [matDatepicker]="openStatusBlockStatusDate" mode="ios" [(ngModel)]="openStatusBlock.statusDate"
                  (dateChange)="openStatusDateChange($event)">
              </ion-input>
              <mat-datepicker-toggle matSuffix [for]="openStatusBlockStatusDate"></mat-datepicker-toggle>
              <mat-datepicker [touchUi]="isMobile" #openStatusBlockStatusDate
                [disabled]="isOpenStatusStatusDateDisabled || disableWholeOpenStatusBlock">
                <mat-datepicker-actions>
                  <button mat-button matDatepickerCancel (click)="openStatusBlockStatusDateClear($event)"
                    color="secondary">Clear</button>
                  <!--/* added by lokesh for jira_id(587)-->
                  <button mat-raised-button color="primary" (click)="nextActionEmpty('open')" matDatepickerApply>Apply</button>
                </mat-datepicker-actions>
              </mat-datepicker>
            </mat-form-field>

          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Next Action</ion-label>
            <ionic-selectable item-content [items]="findingStatusList" [canSearch]="true"
              [disabled]="!openStatusBlock.statusDate||disableWholeOpenStatusBlock"
              [(ngModel)]="openStatusBlock.nextActionDesc" (onChange)="NxtActionChange($event,'open')"
              [disabledItems]="nxtActionDisableArrayOfOpenStatus" closeButtonSlot="end">
              <ng-template ionicSelectableTitleTemplate>
                Next Action
              </ng-template>
            </ionic-selectable>
          </ion-item>
        </ion-col>
        <ion-col size="12">

          <ion-item>
            <ion-label position="stacked">Due Date</ion-label>
            <mat-form-field class="dateinput" (click)="openStatusBlockDueDate.open()" floatLabel=never>
              <ion-input>
                <input type="text" [placeholder]="openStatusPlaceHolder" matInput readonly [min]='minDueDate'
                  [max]='openStatusMaxDueDate' [matDatepicker]="openStatusBlockDueDate" mode="ios"
                  [(ngModel)]="openStatusBlock.dueDate" (dateChange)="openDueDateChange($event)">
              </ion-input>
              <!--  <ion-input>
                <input matInput readonly mode="ios" [(ngModel)]="openStatusBlock.dueDate">
              </ion-input> -->
              <mat-datepicker-toggle matSuffix [for]="openStatusBlockDueDate"></mat-datepicker-toggle>
              <mat-datepicker [touchUi]="isMobile" #openStatusBlockDueDate
                [disabled]="isOpenStatusDueDateDisabled || disableWholeOpenStatusBlock">
                <mat-datepicker-actions>
                  <button mat-button matDatepickerCancel (click)="openStatusBlockDueDateClear($event)"
                    color="secondary">Clear</button>
                  <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                </mat-datepicker-actions>
              </mat-datepicker>
            </mat-form-field>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Description</ion-label>
            <ion-textarea  *ngIf="!this.isIOS" autoGrow='true' [(ngModel)]="openStatusBlock.description" type='text'custom-maxlength [charMaxLength]="2500" (ionChange)="descriptionMaxLengthValidation(openStatusBlock.description)"
              [disabled]="isOpenStatusDescriptionDisabled || disableWholeOpenStatusBlock">
            </ion-textarea><!--added by lokesh for jira_id(726)-->
            <ion-textarea  *ngIf="this.isIOS" autoGrow='true' [(ngModel)]="openStatusBlock.description" type='text' maxlength="2501" (ionChange)="descriptionMaxLengthValidation(openStatusBlock.description)"
            [disabled]="isOpenStatusDescriptionDisabled || disableWholeOpenStatusBlock">
          </ion-textarea>
          </ion-item>
        </ion-col>

      </ion-row>

      <!-- <ion-item-divider style="margin-top: 16px;">
      <ion-card-subtitle>Attachments</ion-card-subtitle>
       
    </ion-item-divider> -->

      <div class="container">
        <ion-grid class="ion-no-margin-top">
          <ion-item lines="none" color="light">
            <ion-card-subtitle class="title">Attachments</ion-card-subtitle>
            <input type="file" #fileinput style="display: none;" (change)="pickAttachmentFileListener($event,'open')">
            <ion-button (click)="fileinput.click()" slot="end" size="small" shape="round" color="primary">Add New
            </ion-button>

          </ion-item>
        </ion-grid>
        <ion-list *ngFor="let file of openStatusBlock.findingRptAttachs">
          <div class="attachment-ion-item">
              <ion-row class="ion-align-items-center">

                <ion-col size="9">
                  <ion-label>
                    <h4>{{file.fileName}}</h4>
                  </ion-label>
                </ion-col>
                <ion-col size="3">
                  <ion-button (click)="downloadAttachment(file,'open');" style="color: #0ed6d8 !important" fill="clear">
                    <ion-icon name="download-outline"></ion-icon>
                  </ion-button>
                  <ion-button (click)="deleteOptions(file,'open');" color="danger" fill="clear">
                    <ion-icon  name="trash-outline"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>

            </div>
        </ion-list>
      </div>

    </ion-card-content>
  </ion-card>

  <!-- downgraded status block -->
  <ion-card *ngIf="isStatusDowngraded" style="border-radius: 1px;background: white;" mode="ios">
    <ion-card-header>
      <ion-grid class="ion-no-margin-top">
        <ion-item lines="none" color="light">
          <ion-card-subtitle class="title">Status : {{downgradedStatusBlock.statusDesc}}</ion-card-subtitle>
        </ion-item>
      </ion-grid>
    </ion-card-header>

    <!-- <ion-card-header>
    <ion-item>
      <ion-card-subtitle>Status : Downgrade</ion-card-subtitle>
    </ion-item>
  </ion-card-header> -->
    <ion-card-content>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Status Date</ion-label>

            <mat-form-field class="dateinput" (click)="downGradedStatusBlockStatusDate.open()">
              <ion-input>
                <input type="text" matInput readonly [min]='openStatusBlock.statusDate' [max]='maxStatusDate'
                  [matDatepicker]="downGradedStatusBlockStatusDate" mode="ios"
                  [(ngModel)]="downgradedStatusBlock.statusDate"
                  (dateChange)="downGradeStatusBlockStatusDateOnChange($event)">
              </ion-input>
              <mat-datepicker-toggle matSuffix [for]="downGradedStatusBlockStatusDate"></mat-datepicker-toggle>
              <mat-datepicker [touchUi]="isMobile" #downGradedStatusBlockStatusDate
                [disabled]="isDowngradedStatusStatusDateDisabled || disableWholeDownGradeStatusBlock">
                <mat-datepicker-actions>
                  <button mat-button matDatepickerCancel (click)="downGradedStatusBlockStatusDateClear($event)"
                    color="secondary">Clear</button>
                  <!--/* added by lokesh for jira_id(587)-->
                  <button mat-raised-button color="primary" (click)="nextActionEmpty('downgrade')" matDatepickerApply>Apply</button>
                </mat-datepicker-actions>
              </mat-datepicker>
            </mat-form-field>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Next Action</ion-label>
            <ionic-selectable item-content [items]="findingStatusList" [canSearch]="true"
              [disabled]="!downgradedStatusBlock.statusDate||disableWholeDownGradeStatusBlock || downgradedStatusBlock.statusDate == ' ' "
              [(ngModel)]="downgradedStatusBlock.nextActionDesc" (onChange)="NxtActionChange($event,'downgrade')"
              [disabledItems]="nxtActionDisableArrayOfDowngradeStatus" closeButtonSlot="end">
              <ng-template ionicSelectableTitleTemplate>
                Next Action
              </ng-template>
            </ionic-selectable>
          </ion-item>
        </ion-col>
        <ion-col size="12">

          <ion-item>
            <ion-label position="stacked">Due Date</ion-label>
            <mat-form-field class="dateinput" (click)="downGradedStatusBlockDueDate.open()" floatLabel=never>
              <ion-input>
                <input type="text" [placeholder]="downgradeStatusPlaceHolder" matInput readonly [min]='minDueDate'
                  [max]='downgradStatusMaxDueDate' [matDatepicker]="downGradedStatusBlockDueDate" mode="ios"
                  [(ngModel)]="downgradedStatusBlock.dueDate" (dateChange)="downgradedStatusBlockDueDateChange($event)">
              </ion-input>
              <mat-datepicker-toggle matSuffix [for]="downgradedStatusBlockDueDate"></mat-datepicker-toggle>
              <mat-datepicker [touchUi]="isMobile" #downGradedStatusBlockDueDate
                [disabled]="isDowngradedStatusDueDateDisabled || disableWholeDownGradeStatusBlock">
                <mat-datepicker-actions>
                  <button mat-button matDatepickerCancel (click)="downgradedStatusBlockDueDateClear($event)"
                    color="secondary">Clear</button>
                  <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                </mat-datepicker-actions>
              </mat-datepicker>
            </mat-form-field>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Description</ion-label>
            <ion-textarea  *ngIf="!this.isIOS"autoGrow='true' [(ngModel)]="downgradedStatusBlock.description" type='text' custom-maxlength [charMaxLength]="2500" (ionChange)="descriptionMaxLengthValidation(downgradedStatusBlock.description)"
              [disabled]="isDowngradedStatusDescriptionDisabled || disableWholeDownGradeStatusBlock">
            </ion-textarea><!--added by lokesh for jira_id(726)-->
            <ion-textarea  *ngIf="this.isIOS"autoGrow='true' [(ngModel)]="downgradedStatusBlock.description" type='text' maxlength="2501" (ionChange)="descriptionMaxLengthValidation(downgradedStatusBlock.description)"
            [disabled]="isDowngradedStatusDescriptionDisabled || disableWholeDownGradeStatusBlock">
          </ion-textarea>
          </ion-item>
        </ion-col>

      </ion-row>

      <div class="container">
        <ion-grid class="ion-no-margin-top">
          <ion-item lines="none" color="light">
            <ion-card-subtitle class="title">Attachments</ion-card-subtitle>
            <input type="file" #fileinput style="display: none;"
              (change)="pickAttachmentFileListener($event,'downgrade')">
            <ion-button (click)="fileinput.click()" slot="end" size="small" shape="round" color="primary">Add New
            </ion-button>

          </ion-item>
        </ion-grid>
        <ion-list *ngFor="let file of downgradedStatusBlock.findingRptAttachs">
          <div class="attachment-ion-item">
            <ion-grid>
              <ion-row class="ion-align-items-center">
                <!--  <ion-col size="3">
              <ion-button color="light" fill="clear">
                <ion-icon slot="icon-only" name="document"></ion-icon>
              </ion-button>
            </ion-col> -->
                <ion-col size="9">
                  <ion-label>
                    <h4>{{file.fileName}}</h4>
                  </ion-label>
                </ion-col>
                <ion-col size="3">
                  <ion-button (click)="downloadAttachment(file,'downgrade');" style="color: #0ed6d8 !important" fill="clear">
                    <ion-icon slot="icon-only" name="download-outline"></ion-icon>
                  </ion-button>
                  <ion-button (click)="deleteOptions(file,'downgrade');" color="danger" fill="clear">
                    <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>

          </div>
        </ion-list>
      </div>

    </ion-card-content>
  </ion-card>

  <!-- plan accepted status block -->
  <ion-card *ngIf="isStatusPlanAccepted" style="border-radius: 1px;background: white;" mode="ios">
    <ion-card-header>
      <ion-item lines="none" color="light">
        <ion-card-subtitle>Status : {{planAcceptedStausBlock.statusDesc}}</ion-card-subtitle>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Status Date</ion-label>
            <mat-form-field class="dateinput" (click)="planAcceptedStausBlockStatusDate.open()">
              <ion-input>
                <input type="text" matInput readonly [min]='planAcceptedBlockMinStatusDate' [max]='maxStatusDate'
                  [matDatepicker]="planAcceptedStausBlockStatusDate" mode="ios"
                  [(ngModel)]="planAcceptedStausBlock.statusDate"
                  (dateChange)="planAcceptedStausBlockStatusDateOnChange($event)">
              </ion-input>
              <mat-datepicker-toggle matSuffix [for]="planAcceptedStausBlockStatusDate"></mat-datepicker-toggle>
              <mat-datepicker [touchUi]="isMobile" #planAcceptedStausBlockStatusDate
                [disabled]="isPlanAcceptedStatusStatusDateDisabled || disableWholePlanAcceptedStatusBlock">
                <mat-datepicker-actions>
                  <button mat-button matDatepickerCancel (click)="planAcceptedStausBlockStatusDateClear($event)"
                    color="secondary">Clear</button>
                  <!--/* added by lokesh for jira_id(587)-->
                  <button mat-raised-button color="primary" (click)="nextActionEmpty('planAccept')" matDatepickerApply>Apply</button>
                </mat-datepicker-actions>
              </mat-datepicker>
            </mat-form-field>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Next Action</ion-label>
            <ionic-selectable item-content [items]="findingStatusList" [canSearch]="true"
              [disabled]="!planAcceptedStausBlock.statusDate ||disableWholePlanAcceptedStatusBlock"
              [(ngModel)]="planAcceptedStausBlock.nextActionDesc" (onChange)="NxtActionChange($event,'planAccept')"
              [disabledItems]="nxtActionDisableArrayOfPlanAcceptedStatus" closeButtonSlot="end">
              <ng-template ionicSelectableTitleTemplate>
                Next Action
              </ng-template>
            </ionic-selectable>
          </ion-item>
        </ion-col>
        <ion-col size="12">

          <ion-item>
            <ion-label position="stacked">Due Date</ion-label>
            <mat-form-field class="dateinput" (click)="planAcceptedStausBlockDueDate.open()" floatLabel=never>
              <ion-input>
                <input type="text" [placeholder]="planAcceptedPlaceholder" matInput readonly [min]='minDueDate'
                  [max]='planAcceptedStatusMaxDueDate' [matDatepicker]="planAcceptedStausBlockDueDate" mode="ios"
                  [(ngModel)]="planAcceptedStausBlock.dueDate"
                  (dateChange)="planAcceptedStausBlockDueDateChange($event)">
              </ion-input>
              <mat-datepicker-toggle matSuffix [for]="planAcceptedStausBlockDueDate"></mat-datepicker-toggle>
              <mat-datepicker [touchUi]="isMobile" #planAcceptedStausBlockDueDate
                [disabled]="isPlanAcceptedStatusDueDateDisabled || isplanAcceptedStausDueDateDisabled || disableWholePlanAcceptedStatusBlock">
                <mat-datepicker-actions>
                  <button mat-button matDatepickerCancel (click)="planAcceptedStausBlockDueDateClear($event)"
                    color="secondary">Clear</button>
                  <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                </mat-datepicker-actions>
              </mat-datepicker>
            </mat-form-field>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Description</ion-label>
            <ion-textarea  *ngIf="!this.isIOS" autoGrow='true' [(ngModel)]="planAcceptedStausBlock.description" type='text'  custom-maxlength [charMaxLength]="2500" (ionChange)="descriptionMaxLengthValidation(planAcceptedStausBlock.description)"
              [disabled]="isPlanAcceptedStatusDescriptionDisabled || disableWholePlanAcceptedStatusBlock">
            </ion-textarea><!--added by lokesh for jira_id(726)-->
            <ion-textarea  *ngIf="this.isIOS" autoGrow='true' [(ngModel)]="planAcceptedStausBlock.description" type='text'  maxlength= "2501" (ionChange)="descriptionMaxLengthValidation(planAcceptedStausBlock.description)"
              [disabled]="isPlanAcceptedStatusDescriptionDisabled || disableWholePlanAcceptedStatusBlock">
            </ion-textarea>
          </ion-item>
        </ion-col>

      </ion-row>

      <div class="container">
        <ion-grid class="ion-no-margin-top">
          <ion-item lines="none" color="light">
            <ion-card-subtitle class="title">Attachments</ion-card-subtitle>
            <input type="file" #fileinput style="display: none;"
              (change)="pickAttachmentFileListener($event,'planAccept')">
            <ion-button (click)="fileinput.click()" slot="end" size="small" shape="round" color="primary">Add New
            </ion-button>

          </ion-item>
        </ion-grid>
        <ion-list *ngFor="let file of planAcceptedStausBlock.findingRptAttachs">
          <div class="attachment-ion-item">
            <ion-grid>
              <ion-row class="ion-align-items-center">
                <!--  <ion-col size="3">
              <ion-button color="light" fill="clear">
                <ion-icon slot="icon-only" name="document"></ion-icon>
              </ion-button>
            </ion-col> -->
                <ion-col size="9">
                  <ion-label>
                    <h4>{{file.fileName}}</h4>
                  </ion-label>
                </ion-col>
                <ion-col size="3">
                  <ion-button (click)="downloadAttachment(file,'planAccept');" style="color: #0ed6d8 !important" fill="clear">
                    <ion-icon slot="icon-only" name="download-outline"></ion-icon>
                  </ion-button>
                  <ion-button (click)="deleteOptions(file,'planAccept');" color="danger" fill="clear">
                    <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>

          </div>
        </ion-list>
      </div>

    </ion-card-content>
  </ion-card>

  <!-- verified & closed status block -->
  <ion-card *ngIf="isStatusVerifiedAndClosed" style="border-radius: 1px;background: white;" mode="ios">
    <ion-card-header>
      <ion-item lines="none" color="light">
        <ion-card-subtitle>Status : {{verifiedAndClosedStausBlock.statusDesc}}</ion-card-subtitle>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Status Date</ion-label>
            <mat-form-field class="dateinput" (click)="verifiedAndClosedStausBlockStatusDate.open()">
              <ion-input>
                <input type="text" matInput readonly
                  [min]="auditTypeId == appConstant.DMLC_TYPE_ID ? openStatusBlock.statusDate : planAcceptedStausBlock.statusDate"
                  [max]='maxStatusDate' [matDatepicker]="verifiedAndClosedStausBlockStatusDate" mode="ios"
                  [(ngModel)]="verifiedAndClosedStausBlock.statusDate"
                  (dateChange)="verifiedAndClosedStausBlockStatusDateOnChange($event)">
              </ion-input>
              <mat-datepicker-toggle matSuffix [for]="verifiedAndClosedStausBlockStatusDate"></mat-datepicker-toggle>
              <mat-datepicker [touchUi]="isMobile" #verifiedAndClosedStausBlockStatusDate
                [disabled]="disableWholeVerifyCloseStatusBlock || this.dataFromFindingListScreen.auditInfo.status == 1002">
                <mat-datepicker-actions>
                  <button mat-button matDatepickerCancel (click)="verifiedAndClosedStausBlockStatusDateClear($event)"
                    color="secondary">Clear</button>
                   <!--/* added by lokesh for jira_id(587)-->
                   <button mat-raised-button color="primary" (click)="nextActionEmpty('verifyClose')" matDatepickerApply>Apply</button>
                </mat-datepicker-actions>
              </mat-datepicker>
            </mat-form-field>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Next Action</ion-label>
            <ionic-selectable item-content [items]="findingStatusList" [canSearch]="true"
              [disabled]="!verifiedAndClosedStausBlock.statusDate ||disableWholeVerifyCloseStatusBlock || this.dataFromFindingListScreen.auditInfo.status == 1002"
              [(ngModel)]="verifiedAndClosedStausBlock.nextActionDesc"
              (onChange)="NxtActionChange($event,'verifyClose')"
              [disabledItems]="nxtActionDisableArrayOfVerifyCloseStatus" closeButtonSlot="end">
              <ng-template ionicSelectableTitleTemplate>
                Next Action
              </ng-template>
            </ionic-selectable>
          </ion-item>
        </ion-col>
        <ion-col size="12">

          <ion-item>
            <ion-label position="stacked">Due Date</ion-label>
            <mat-form-field class="dateinput" (click)="verifiedAndClosedStausBlockDueDate.open()" floatLabel=never>
              <ion-input>
                <input type="text" [placeholder]="verifiedClosedStatusPlaceHolder" matInput readonly [min]='minDueDate'
                  [max]='verifyCloseStatusMaxDueDate' [matDatepicker]="verifiedAndClosedStausBlockDueDate" mode="ios"
                  [(ngModel)]="verifiedAndClosedStausBlock.dueDate"
                  (dateChange)="verifiedAndClosedStausBlockDueDateChange($event)">
              </ion-input>
              <mat-datepicker-toggle matSuffix [for]="verifiedAndClosedStausBlockDueDate"></mat-datepicker-toggle>
              <mat-datepicker [touchUi]="isMobile" #verifiedAndClosedStausBlockDueDate
                [disabled]="disableWholeVerifyCloseStatusBlock || this.dataFromFindingListScreen.auditInfo.status == 1002">
                <mat-datepicker-actions>
                  <button mat-button matDatepickerCancel (click)="verifiedAndClosedStausBlockDueDateClear($event)"
                    color="secondary">Clear</button>
                  <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                </mat-datepicker-actions>
              </mat-datepicker>
            </mat-form-field>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Description</ion-label>
            <ion-textarea  *ngIf="!this.isIOS" autoGrow='true' [(ngModel)]="verifiedAndClosedStausBlock.description" type='text' custom-maxlength [charMaxLength]="2500" (ionChange)="descriptionMaxLengthValidation(verifiedAndClosedStausBlock.description)"
              [disabled]="disableWholeVerifyCloseStatusBlock || this.dataFromFindingListScreen.auditInfo.status == 1002">
            </ion-textarea ><!--added by lokesh for jira_id(726)-->
            <ion-textarea  *ngIf="this.isIOS" autoGrow='true' [(ngModel)]="verifiedAndClosedStausBlock.description" type='text' maxlength="2501" (ionChange)="descriptionMaxLengthValidation(verifiedAndClosedStausBlock.description)"
            [disabled]="disableWholeVerifyCloseStatusBlock || this.dataFromFindingListScreen.auditInfo.status == 1002">
          </ion-textarea>
          </ion-item>
        </ion-col>

      </ion-row>

      <div class="container">
        <ion-grid class="ion-no-margin-top">
          <ion-item lines="none" color="light">
            <ion-card-subtitle class="title">Attachments</ion-card-subtitle>
            <input type="file" #fileinput style="display: none;"
              (change)="pickAttachmentFileListener($event,'verifyClose')">
            <ion-button (click)="fileinput.click()" slot="end" size="small" shape="round" color="primary">Add New
            </ion-button>

          </ion-item>
        </ion-grid>
        <ion-list *ngFor="let file of verifiedAndClosedStausBlock.findingRptAttachs">
          <div class="attachment-ion-item" >
            <ion-grid>
              <ion-row class="ion-align-items-center">
                <!--  <ion-col size="3">
              <ion-button color="light" fill="clear">
                <ion-icon slot="icon-only" name="document"></ion-icon>
              </ion-button>
            </ion-col> -->
                <ion-col size="9">
                  <ion-label>
                    <h4>{{file.fileName}}</h4>
                  </ion-label>
                </ion-col>
                <ion-col size="3">
                  <ion-button (click)="downloadAttachment(file,'verifyClose');" style="color: #0ed6d8 !important" fill="clear">
                    <ion-icon slot="icon-only" name="download-outline"></ion-icon>
                  </ion-button>
                  <ion-button (click)="deleteOptions(file,'verifyClose');" color="danger" fill="clear">
                    <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>

          </div>
        </ion-list>
      </div>

    </ion-card-content>
  </ion-card>


</ion-content>
