ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 10px 0;              // changed by archana for jira Id-MOBILE-773
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

/* ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
} */

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;
  font-weight: 600;    // added by archana for jira Id-MOBILE-773
  margin-bottom: 18px;


  //color: #757575;
  color:white;

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  //color: #616e7e;
  color:white;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  //color: #73849a;
  color: white;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note{
  color: #f5f5f5;
}

ion-list-header{
  color: #f5f5f5;
}

/* ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
} */

ion-menu {
  //opacity: .9;
 color:var(--ion-color-primary-contrast);
   --ion-background-color: linear-gradient(90deg, #350536,#0c8390);
   --ion-text-color: var(--ion-color-primary-contrast);
 
   ion-toolbar,ion-item-divider {
     --background: linear-gradient(90deg, #350536,#0c8390);
   }
 
   ion-list {
     background: transparent;
     color:var(--ion-color-primary-contrast);
   }
 }

 .vertical-align{
  font-weight: 600;
  color: white;
  text-align: start;   
  position: absolute;
  top: 50%;
  padding-left: 50px;
  transform: translateY(-50%);
  font-size: medium;
}