.card-center{
    height: 100%; display: block;
    margin: 0 auto;align-items: center; justify-content: center;
}

ion-button {
    // --background: linear-gradient(to bottom right, rgb(56, 183, 233), rgb(106, 69, 243));
    --background:linear-gradient(90deg, #350536,#0c8390);
    z-index: 1;
}
ion-item {
    z-index: 1;
    --background: transparent;
}

ion-button {
    margin-top: 2vh;
}

ion-card {
    background-color: rgba(255, 255, 255, 0.986);
    margin-top: 20vh;
}

ion-item#ionHeader {
    --background: linear-gradient(90deg, #350536, #0c8390);
     
  }
  