<ion-header class="ion-no-border">
  <ion-item lines="none" id="ionHeader">
    <ion-title style="color: white;"> Forget Password</ion-title> <!--  -->
    <ion-buttons slot="end">
      <ion-icon name="close-circle-outline" slot="end" style="padding-right: 4px;zoom:1.2; color :white" (click)="closeModal()"></ion-icon>

    </ion-buttons>
    
  </ion-item>
 
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="card-center">
    <div *ngIf='online==true'>
          <div *ngIf='!flag'>
  <ion-item mode="md">
    <ion-icon name="person" zoom="0.5" slot="start" color="primary"></ion-icon>
    <ion-label mode="md"  position="floating" color="medium">Verification Code</ion-label>
    <ion-input type="text" [(ngModel)]='verNum' ></ion-input>
  </ion-item>
    <ion-button mode="md" type="button" expand="block" (click)="verify()">Verify</ion-button>
    <ion-button mode="md" type="button" expand="block" (click)="resend()">Resend</ion-button>
</div>
</div>
 <div *ngIf="flag">
   <div *ngIf="errorMsg!=null">
     <span style="color: red;">{{this.errorMsg}}</span>
   </div>
    <ion-item mode="md">
      <ion-icon name="person" zoom="0.5" slot="start" color="primary"></ion-icon>
      <ion-label mode="md" position="floating" color="medium">New Password</ion-label>
      <ion-input type="password" [(ngModel)]='newPas' (ionBlur)="valPass(newPas)" ></ion-input>
    </ion-item>
    <ion-item mode="md">
      <ion-icon name="person" zoom="0.5" slot="start" color="primary"></ion-icon>
      <ion-label mode="md" position="floating" color="medium">Confirm new Password</ion-label>
      <ion-input type="password" [(ngModel)]='confNewPas'></ion-input>
    </ion-item>
    <ion-button mode="md" type="button" expand="block" (click)="reset()">Reset</ion-button>
  </div>

  <div *ngIf='online==false'>
  <div *ngIf="errorMsg!=null">
    <span style="color: red;">{{this.errorMsg}}</span>
  </div>
   <ion-item mode="md">
     <ion-icon name="person" zoom="0.5" slot="start" color="primary"></ion-icon>
     <ion-label mode="md" position="floating" color="medium">New Password</ion-label>
     <ion-input type="password" [(ngModel)]='newPas' (ionBlur)="valPass(newPas)" ></ion-input>
   </ion-item>
   <ion-item mode="md">
     <ion-icon name="person" zoom="0.5" slot="start" color="primary"></ion-icon>
     <ion-label mode="md" position="floating" color="medium">Confirm new Password</ion-label>
     <ion-input type="password" [(ngModel)]='confNewPas'></ion-input>
   </ion-item>
   <ion-button mode="md" type="button" expand="block" (click)="reset()">Reset</ion-button>
</div>
  </ion-card>
  </ion-content>